@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'GeneralSans';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('/fonts/GeneralSans-ExtraLight.woff2') format('woff2');
  }
  @font-face {
    font-family: 'GeneralSans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/fonts/GeneralSans-Light.woff2') format('woff2');
  }
  @font-face {
    font-family: 'GeneralSans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/GeneralSans-Regular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'GeneralSans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/GeneralSans-Medium.woff2') format('woff2');
  }
  @font-face {
    font-family: 'GeneralSans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/GeneralSans-Semibold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'GeneralSans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/GeneralSans-Bold.woff2') format('woff2');
  }

  html {
    font-family: 'GeneralSans', sans-serif;
    @apply antialiased font-medium;
  }

  html,
  body {
    @apply overflow-hidden;
  }
}

@layer components {
  h2 {
    @apply mb-4 text-2xl font-bold;
  }

  h3 {
    @apply mb-4 font-bold;
  }

  h4 {
    @apply mb-2 font-bold;
  }

  input[type='checkbox'] {
    @apply relative w-0 h-0 mr-8;

    &::after {
      content: '';
      @apply w-6 h-6 absolute top-0 left-0 -translate-y-1/2 rounded border border-gray-400 bg-white;
    }

    &:checked::after {
      background: url('/check.svg') center/cover no-repeat;
      @apply bg-blue-500 border-blue-500;
    }
  }

  fieldset {
    @apply flex flex-col gap-4;
  }

  div.form-control {
    @apply flex flex-col;

    & label {
      @apply opacity-75 text-[12px];

      &.required-field {
        @apply after:content-['*'] after:ml-[0.25rem] after:text-red-700;
      }
    }

    & input,
    & textarea,
    & select {
      @apply border rounded p-4 text-[14px];
    }
  }

  section {
    @apply mb-8;
  }

  table {
    @apply w-full text-[12px];

    & th,
    & td {
      @apply border border-gray-300 p-1;
    }

    & th {
      @apply font-semibold;
    }

    & tbody {
      tr:nth-child(odd) {
        @apply bg-gray-50;
      }
    }
  }
}

.animate-show-up {
  animation: show-up 0.75s ease-in-out;
}

@keyframes show-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
